/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/styles/style.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************/
a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

a {
  text-decoration: none;
  position: relative;
  color: #000;
}

audio,
canvas,
video {
  max-width: 100%;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

menu,
ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
     -moz-appearance: revert;
          appearance: revert;
}

::-webkit-input-placeholder {
  color: unset;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

#main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 1;
}

/* COUNTER API SEARCH */
.hdpi.pac-logo:after,
.pac-logo:after,
.mapboxgl-ctrl-attrib-inner,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.mapboxgl-marker {
  position: relative !important;
}

.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* COUNTER API SEARCH */
/* NOTIFICATION */
.s_notification {
  display: block;
  position: fixed;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 20%;
  right: 0;
  z-index: 10;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.s_notification i {
  margin-right: 15px;
  font-weight: bold;
}
.s_notification .error_message {
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #bd3630;
  color: whitesmoke;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.s_notification .sucess_message {
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #4caf4f;
  color: whitesmoke;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* NOTIFICATION */
/* OVERLAY */
.s_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 7;
}

.opa_x_6 {
  opacity: 0.6;
}

.opa_x_5,
.opa_x_4 {
  opacity: 0.4;
}

.opa_x_3 {
  opacity: 0.3;
}

.opa_x_2 {
  opacity: 0.2;
}

/* OVERLAY */
/* AXEPTIO */
.htKxuG svg path {
  fill: #fff !important;
}
.htKxuG svg path:last-child {
  fill: white !important;
}

.ButtonGroup__ButtonGroupStyle-sc-1usw1pe-1 .inpjsL.inpjsL.inpjsL.inpjsL.inpjsL.inpjsL {
  color: #fff !important;
}

.gegvBA {
  display: none !important;
}

/* AXEPTIO */
/* SWIPER */
.swiper-button-next,
.swiper-button-prev {
  top: 90%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #000;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 23px !important;
}

/* SWIPER */
/* MEDIA SCREEN MOBILE */

/*# sourceMappingURL=style.css.map*/